body, html{
    margin:0; 
    padding:0; 
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(192, 192, 189); 
    color: rgb(14, 43, 90);
}

    * { 
    box-sizing: border-box;
    }

    body{
        margin: 20px;
        margin-top:20px;
        font-size: 18;
        padding-right: 200px;
    }

    h1{
        font-size: 50px;
    }

    h2{
        font-size: 25px;
    }

    h3{
        font-size: 18px;
    }